@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    height: 100vh;
    width: 100%;
    background: url('../images/pexels-rfera-432059.jpg') center/cover no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* طبقة سوداء شفافة لجمالية أعلى */
.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.203);
}

/* النص فوق الخلفية */
.hero-section .container {
    position: relative;
    z-index: 2;
}

/* عند الشاشات الصغيرة */
@media(max-width: 768px) {
    .hero-section {
        height: 65vh;
    }
}

.category-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.category-item:hover {
    transform: translateY(-7px);
}
.category-item p {
    color: white;
    margin: 8px 0 0;
}

.card-img-top {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
